@font-face {
    font-family: "Teko";
    src: url("Teko-Light.ttf");
}

body {
    background: url(assets/bg.png);
    background-size: 1920px 1080px;
    font-family: Teko;
    color: white;
}

table {
    margin-top: 65px;
}

u {
    font-size: 100px;
}

p {
    font-size: 70px;
    margin-bottom: -20px;
}

.video {
    margin-top: 130px;
}

a {
    font-size: 50px;
    text-decoration: none;
    color: white;
}