body {
    background-color: black;
	font-family: Arial, Helvetica, sans-serif
}

.titre {
	font-size: 46px;
}

.page {
	align-items : center;
	width: 1100px;
    background-color: white;
    box-shadow: white 1px 1px 10px;
}

.section {
    background-color: rgb(255, 220, 220);
    box-shadow: gray 1px 1px 10px;
}

.alarm {
    width: 200px;
}